body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #383c57;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3f51b5;
    color: white;
    display: flex;
    justify-content: space-between; /* Space between button and navbar */
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}

.top-button {
    background-color: #555;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 50px;
    /* No margin needed here */
}

.navbar {
    display: flex;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px;
}

.navbar a:hover {
    background-color: #575757;
    border-radius: 5px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.profile-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}


h1, h2 {
    color: #333;
}

h3 {
    color: #555;
}

section {
    margin-bottom: 20px;
}

.links {
    text-align: center;
    margin: 20px 0;
}

.links a {
    margin: 0 10px;
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}

footer p {
    margin: 0;
}
